.env
src/test.ts

dist/index.d.ts
dist/index.d.ts.map
dist/index.js.map

archive

node_modules
package-lock.json
yarn.lock
.npm

npm-debug.log*
logs
*.log

lib-cov
coverage
.nyc_output

.vscode
.idea

.DS_Store
